body {
    background-image: url(https://ssl.gstatic.com/ui/v1/icons/mail/themes/desk/bg2_1920x1200.jpg);
    color: white;
}

.container {
    width: 1000px;
    margin: auto;
}

.logo {
    width: 100px;
}

.logo-text {
    font-size: 25px;
    display: inline-block;
}

h2 > span {
    color: white;
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
}

.subject {
    color: black;
}

.star {
    color: orange;
}

.star:after {
    content: "\2605";
}

.object {
    color: grey;
}

.object:after {
    content: '...';
}

.row {
    color: black;
}

.email.read {
    background-color: lightgrey;
}

.email.unread {
    background-color: white;
}

.row-left, .row-right {
    display: inline-block;
}

.row-left {
    width: 30%;
}

.row-right {
    width: 68%;
}

.subject {
    /* */
}

footer {
    text-align: center;
}

footer > span {
    font-size: 25px;
}